<form method="post" action="/login">
ID : <input type="text" name="id"><br/>
PW :  <input type="password" name="pw"><br/>
  <i>Remember Me</i> <input type="checkbox" name="remember"><br/>
  <input type="submit"><br/>
</form>