Hello World!! <a href="https://github.com/yummy-ground">Come Here</a><br/>
<% if true %>
  Text for True statement.<br/>
<% end %>
<% if false %>
  Text for False statement.<br/>
<% end %>

<% var = 'variable' %>
<%= "It's " + var %>